PYTHON-10.Введение в Pandas

Рассмотрим несколько способов создания Series на примере со списком названий стран.

In [1]:
import pandas as pd

In [2]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

ДОСТУП К ДАННЫМ В SERIES
Доступ к элементам осуществляется с использованием loc или iloc.

In [3]:
print(countries.loc['US'])

США

In [4]:
print(countries.loc[['US', 'RU', 'UK']])

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object

In [5]:
print(countries.iloc[6])

Казахстан

In [6]:
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [7]:
countries[['UK', 'US', 'UA']]
countries[[0, 2, 4]]

UK     Англия
US        США
UA    Украина
Name: countries, dtype: object

DATAFRAME КАК СТРУКТУРА ДАННЫХ

Самый простой способ создания DataFrame — из словаря, 
ключами которого являются имена столбцов будущей таблицы, 
а значениями — списки, в которых хранится содержимое этих столбцов:

In [8]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

Также DataFrame можно создать из вложенного списка, 
внутренние списки которого будут являться строками новой таблицы:

In [9]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
countries_df.loc[['UA', 'CA', 'RU'], ['square', 'population']]

# display(countries_df)

      square  population
UA    603628       45.50
CA   9984670       38.05
RU  17125191      146.24

Рассмотрим разницу в результатах работы методов в зависимости от параметра axis на примере использования метода DataFrame mean() — вычисление среднего по таблице.

Считаем среднее по строкам (axis = 0) в каждом столбце:
display(countries_df.mean(axis=0))


Считаем среднее по столбцам (axis = 1) в каждой строке:
countries_df.mean(axis=1)

Можно обратиться к DataFrame по имени столбца через точку:

countries_df.population

или

Другой вариант — обратиться к DataFrame по индексу и указать имя столбца:

countries_df['population']

In [10]:
import pandas as pd

countries_data = pd.read_csv('C:/Users/olegi/Desktop/projects/SFDS.HW/sfds.python10.enter_to_Pandas/data/countries.csv')
display(countries_data)

                                                                                                                countries_df = pd.DataFrame({
    'country': ['Англия'                  'Канада'     'США'     'Россия'  'Украина'  'Беларусь'  'Казахстан']                            NaN
    'population': [56.29                  38.05        322.28    146.24    45.5       9.5         17.04]                                  NaN
    'square': [133396                     9984670      9826630   17125191  603628     207600      2724902]                                NaN
})                                       NaN          NaN       NaN       NaN        NaN         NaN                                      NaN
countries_df.to_csv('data/countries.csv'  index=False  sep=';') NaN       NaN        NaN         NaN                                      NaN

In [11]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

# countries_df.to_csv('data/countries111.csv', index=False, sep=';')

In [12]:
countries_data = pd.read_csv('data/countries111.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [13]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [14]:
import pandas as pd
melb_data = pd.read_csv('C:/Users/olegi/Desktop/projects/SFDS.HW/sfds.python10.enter_to_Pandas/data/melb_data.csv', sep=',')

# display(melb_data.head())

# melb_data.tail(7)

# melb_data.shape

# melb_data['Car'] = melb_data['Car'].astype('int64')
# melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
# melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
# melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
# melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
# melb_data.info()

# melb_data.describe()
# melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

# melb_data.describe(include=['object'])

# melb_data['Regionname'].value_counts()
# melb_data['Type'].value_counts(normalize=True)
# data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
# print(data.shape)

In [15]:
import pandas as pd
melb_data = pd.read_csv('C:/Users/olegi/Desktop/projects/SFDS.HW/sfds.python10.enter_to_Pandas/data/melb_data.csv', sep=',')

In [16]:
melb_data.iloc[3521]
melb_data.Date[90]
melb_data.Landsize[3521]/melb_data.Landsize[1690]

2.7857142857142856

In [17]:
# print(melb_data['Price'].mean())
# print(melb_data['Car'].max())

# rate = 0.12
# income = melb_data['Price'].sum() * rate
# print('Total income of real estate agencies:', round(income, 2))

# landsize_median = melb_data['Landsize'].median()
# landsize_mean = melb_data['Landsize'].mean()
# print(abs(landsize_median - landsize_mean)/landsize_mean)

# print(melb_data['Rooms'].mode())
# 0    3
# dtype: int64

# melb_data['Regionname'].mode()

# print(melb_data.info)
# # print(melb_data['Propertycount'].max())
# data = {'values' : [1, 2, 4, 2, 3, 2, 1, 5, 6]}
# df = pd.DataFrame(data)
# print(df.mode())

# print(melb_data['Distance'].std())

# print((melb_data['Landsize'].median() / melb_data['Landsize'].mean())- 1)
# Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
# Найдём, насколько медианная площадь территории отличается от её среднего значения.

# BuildingArea_median = melb_data['BuildingArea'].median() 
# BuildingArea_mean =  melb_data['BuildingArea'].mean()
# print(abs(BuildingArea_median - BuildingArea_mean) / BuildingArea_mean)

In [18]:
# mask = melb_data['Price'] > 2000000
# display(melb_data[mask].head())

# melb_data[melb_data['Rooms'] == 3].shape[0]

# melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]


# mean_price = melb_data['Price'].mean()
# melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()


# melb_data[melb_data['Bathroom'] == 0].shape[0]

# melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]


# melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

# melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()

# melb_data[(melb_data['S'])]


# melb_data.info()
# melb_data.head()

# melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts().idxmax()

In [19]:
import numpy as np
import pandas as pd

solar_data = pd.read_csv(r'./solarpower.csv')
solar_data.replace(-1, np.nan, inplace=True)

solar_data['cum_power'].interpolate(method='linear', inplace=True)

# display(solar_data.head(5))
# display(solar_data['cum_power'].mean())

# solar_data.info()
solar_data['day_power'] = solar_data['cum_power'] - solar_data['cum_power'].shift(1)
solar_data['date'] = pd.to_datetime(solar_data['date'])
solar_data['month_year'] = solar_data['date'].dt.to_period('M')
monthly_average = solar_data.groupby('month_year')['day_power'].mean()
average_march_2017 = int(monthly_average['2017-03'].round())

display(average_march_2017)

monthly_average['day_power'].plot(
    kind='line',
    lw=3, 
    title='Monthly average',
    xlabel='Year - month',
    ylabel='Average',
    figsize=(10, 5)
);

FileNotFoundError: [Errno 2] No such file or directory: './solarpower.csv'

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('data/melb_data.csv', sep = ',')

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [ ]:
melb_data.head()
# melb_data.tail()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [24]:
melb_data.shape

(13580, 23)

In [23]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [22]:
melb_data.describe()

,index,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,6789.500000,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.611856,558.416127,139.633972,1966.788218,-37.809203,144.995216,7454.417378
std,3920.352663,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.960793,3990.669241,392.217403,29.088642,0.079260,0.103916,4378.581772
min,0.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,3394.750000,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000
50%,6789.500000,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,10184.250000,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,129.940000,1975.000000,-37.756400,145.058305,10331.000000
max,13579.000000,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [26]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [27]:
melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [67]:
melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [30]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Общая риэлторская выручка:', round(income, 2))

Общая риэлторская выручка: 1752934775.88

In [31]:
melb_data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

In [32]:
mask = melb_data['Price'] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [33]:
display(melb_data[mask].head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0.0,211.0,198.0,1890.0,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280.0,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1.0,153.0,180.0,1880.0,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280.0,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1.0,199.0,107.0,1900.0,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280.0,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1.0,177.0,181.0,1880.0,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280.0,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1.0,237.0,126.0,1970.0,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280.0,"-37.8436, 144.9557"

In [34]:
melb_data[melb_data['Price'] > 2000000].shape[0]

1007

In [37]:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

In [39]:
mask1 = (melb_data['Rooms'] == 3)
mask2 = (melb_data['BuildingArea'] > 100)
mask3 = (melb_data['Price'] < 300000)
melb_data[(mask1 | mask2) & mask3].shape[0]

68

In [42]:
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

In [45]:
import pandas as pd

In [68]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [69]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Данные о скольких студентах содержатся в таблице?

In [103]:
student_data.shape

(1000, 8)

Каков балл по письму у студента под индексом 155?

In [86]:
student_data.iloc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

Сколько суммарно пропущенных значений в таблице?

In [89]:
student_data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Сколько столбцов в таблице имеет тип данных object? 
Какой объём памяти (в килобайтах) занимает таблица?
Округлите ответ до целого числа.

In [90]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков у студентов средний балл по математике?
Округлите ответ до целого числа.

In [91]:
student_data['math score'].mean()

66.089

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).

In [92]:
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [97]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

Сколько студентов получили 0 баллов по математике?

In [102]:
student_data[student_data['math score'] == 0].shape[0]

1

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.

In [110]:
# student_data[student_data['lunch'] == 'standart']['math score'].mean()
student_data.groupby('lunch')['math score'].mean()

lunch
free/reduced    58.921127
standard        70.034109
Name: math score, dtype: float64

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [130]:
(student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]) / (student_data.shape[0]) * 100

11.799999999999999

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [136]:
# student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()
ga = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()

gc = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

gr = ga - gc 
display(gr)

-5.827586206896555