PYTHON-10.Введение в Pandas

Рассмотрим несколько способов создания Series на примере со списком названий стран.

In [1]:
import pandas as pd

In [2]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

ДОСТУП К ДАННЫМ В SERIES
Доступ к элементам осуществляется с использованием loc или iloc.

In [3]:
print(countries.loc['US'])

США

In [4]:
print(countries.loc[['US', 'RU', 'UK']])

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object

In [5]:
print(countries.iloc[6])

Казахстан

In [6]:
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [7]:
countries[['UK', 'US', 'UA']]
countries[[0, 2, 4]]

UK     Англия
US        США
UA    Украина
Name: countries, dtype: object

DATAFRAME КАК СТРУКТУРА ДАННЫХ

Самый простой способ создания DataFrame — из словаря, 
ключами которого являются имена столбцов будущей таблицы, 
а значениями — списки, в которых хранится содержимое этих столбцов:

In [8]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

Также DataFrame можно создать из вложенного списка, 
внутренние списки которого будут являться строками новой таблицы:

In [9]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

Рассмотрим разницу в результатах работы методов в зависимости от параметра axis на примере использования метода DataFrame mean() — вычисление среднего по таблице.

Считаем среднее по строкам (axis = 0) в каждом столбце:
display(countries_df.mean(axis=0))


Считаем среднее по столбцам (axis = 1) в каждой строке:
countries_df.mean(axis=1)

Можно обратиться к DataFrame по имени столбца через точку:

countries_df.population

или

Другой вариант — обратиться к DataFrame по индексу и указать имя столбца:

countries_df['population']

In [11]:
import pandas as pd

countries_data = pd.read_csv('C:/Users/olegi/Desktop/projects/SFDS.HW/sfds.python10.enter to Pandas/data/countries.csv', sep=';')
display(countries_data)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [ ]:
import pandas as pd
melb_data = pd.read_csv('C:/Users/olegi/Desktop/projects/SFDS.HW/sfds.python10.enter to Pandas/data/melb_data.csv', sep=',')

# display(melb_data.head())

# melb_data.tail(7)

melb_data.shape

melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

# melb_data.describe()
# melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

# melb_data.describe(include=['object'])

# melb_data['Regionname'].value_counts()
melb_data['Type'].value_counts(normalize=True)

In [39]:
print(melb_data['Price'].mean())
print(melb_data['Car'].max())

rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

landsize_median = melb_data['Landsize'].median()
landsize_mean = melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

1075684.079455081
10
Total income of real estate agencies: 1752934775.88
0.21205713983546193

In [72]:
import numpy as np
import pandas as pd

solar_data = pd.read_csv('./solarpower.csv')
solar_data.replace(-1, np.nan, inplace=True)

solar_data['cum_power'].interpolate(method='linear', inplace=True)

# display(solar_data.head(5))
# display(solar_data['cum_power'].mean())

# solar_data.info()
solar_data['day_power'] = solar_data['cum_power'] - solar_data['cum_power'].shift(1)
solar_data['date'] = pd.to_datetime(solar_data['date'])
solar_data['month_year'] = solar_data['date'].dt.to_period('M')
monthly_average = solar_data.groupby('month_year')['day_power'].mean()
average_march_2017 = int(monthly_average['2017-03'].round())

display(average_march_2017)

monthly_average['day_power'].plot(
    kind='line',
    lw=3, 
    title='Monthly average',
    xlabel='Year - month',
    ylabel='Average',
    figsize=(10, 5)
);

11

KeyError: "Cannot interpret 'day_power' as period"